
@media only screen and (max-width: 785px) {
	.cabecalho {
		width: 100%;
		height: 100px;
		background-image: url("../imagens/labirasCelular.png");
		background-repeat: no-repeat;
		background-position: center;
		border-bottom: 1px solid #000;
	}
	
	.conteudo {
		border: 1px solid #000;
		margin-top: 100px;
	}
}

@media only screen and (min-width: 786px) {
	.cabecalho {
		width: 100%; height: 170px; margin-bottom: 50px;
		background-image: url("../imagens/labiras.png");
		background-repeat: no-repeat;
		background-position: center;
		border-bottom: 1px solid #000;
	}
	
	.conteudo {
		max-width: 70%;
		border: 1px solid #000;
		margin: 0 auto;
	}
	
	.dont-make {width: 100%; height: 50px:; float: left; margin-top: 50px;}
	
}